
.detailPokemon {
    border: 1px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.459);
    border-radius: 1rem;
    overflow-y: auto; 
  
    /* Propriedades de personalização da barra de rolagem */
    scrollbar-width: thin;
    scrollbar-color: #661a8d00 #00000057;
  
    min-height: 400px;
    min-width: 200px;
  }
  
  .detailPokemon::-webkit-scrollbar {
    width: 4px;
  }
  
  .detailPokemon::-webkit-scrollbar-track {
    background-color: #661a8d00;
  }
  
  .detailPokemon::-webkit-scrollbar-thumb {
    background-color: #00000057;
  }
  
  
  .detailPokemon h2 {
    font-size: 1.2rem;
  }
  
  .detailPokemon p {
    font-size: 1rem;
  }
  
  .detailPokemon .abilities li,
  .detailPokemon .moves li {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  
  .detailPokemon .stats li {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
  }
  
  .pokeHeader {
    display: block;
  }
  
  #goBackButton {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    margin: 10px;
    padding: 0;
  }
  
  #goBackButton img {
    width: 2rem;
    transition: width 0.2s;
  }
  
  #goBackButton img:hover {
    width: 2.2rem;
  }
  
  #pokeDetailName {
    margin: 20px;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 2px 2px black;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
  }
  
  #pokeDetailNumber {
    margin: 20px;
    background-color: rgba(233, 220, 220, 0.589);
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    text-shadow: 2px 2px black;
    text-align: center;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.514);
  }
  
  .pokeDetailTypes {
    padding: 0;
    margin: 20px;
    list-style: none;
    margin-top: 0.8rem;
  }
  
  .pokeDetailType {
    display: inline-block;
    filter: brightness(1.15);
    width: 5rem;
    font-size: 1rem;
    margin: 0;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    text-align: center;
    color: #ffffffb2;
    margin-bottom: 0.3rem;
    margin-right: 0.2rem;
    text-transform: capitalize;
    text-shadow: 2px 2px #00000068;
    box-shadow: 3px 3px #00000068;
  }
  
  .pokeDetailImage {
    height: 8.5rem;
    display: block;
    margin: auto;
  }
  
  .pokeDetailContent {
    padding: 0.6rem;
    background-color: rgb(255, 255, 255);
    height: auto;
    border-radius: 0.8rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .pokeDetailData {
    border-bottom: 2px solid black;
    font-size: 1.2rem;
  }
  
  .pokeDetailAbout {
    display: flex;
    flex-wrap: wrap;
   /* grid-template-columns: 1fr 1fr;
    row-gap: 0.5rem;
    list-style: none;
    padding: 0;
    font-size: 1rem;
    text-transform: capitalize;*/
  }
  
  .pokeDetailStatus {
    padding: 0;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
  }
  
  .statusName {
    display: inline-block;
    font-weight: 600;
    margin-right: 1.5rem;
    text-transform: capitalize;
  }
  
  .statusNum {
    display: inline-block;
  }
  
  
  @media screen and (max-width: 300px) {
    #goBackButton img {
      width: 1.5rem;
      transition: width 0.2s;
    }
  
    #goBackButton img:hover {
      width: 1.7rem;
    }
  
    #pokeDetailName {
      font-size: 1.8rem;
    }
  
    #pokeDetailNumber {
      font-size: 0.8rem;
    }
  }
  
  @media screen and (min-width: 600px) {
    #goBackButton img {
      width: 3rem;
      transition: width 0.2s;
    }
  
    #goBackButton img:hover {
      width: 3.2rem;
    }
  }
  
  @media screen and (max-width: 599px) {
    .pokeDetailContent {
      padding: 0.6rem;
      max-height: calc(100vh - 5rem);
      /* Ajuste a altura máxima do conteúdo */
      overflow-y: auto;
    }
  
    .pokeDetailImage {
      max-width: 100%;
      height: auto;
    }
  
    .pokeDetailAbout,
    .pokeDetailStatus {
      grid-column: initial;
    }
  }
  
  
  @media screen and (max-width: 667px) {
    .pokeDetailContent {
      padding: 1rem;
      overflow-y: auto;
      max-height: calc(100vh - 360px);
    }
  
    .pokeDetailImage {
      width: 100%;
      margin-bottom: 1rem;
    }
  
    .pokeDetailName {
      font-size: 2rem;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  
    .pokeDetailNumber {
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
    }
  
    .pokeDetailAbout,
    .pokeDetailStatus {
      margin-bottom: 1rem;
    }
  }
  
  @media screen and (min-width: 1300px) {
    .pokeDetailContent {
      margin: 0 20%;
    }
  }